{% for host in hostvars %}
{% if host in groups["servers"] %}
    server {{ hostvars[host]["ansible_hostname"] }} {{ hostvars[host]["ansible_facts"]["default_ipv4"]["address"] }}:80 check
{% endif %}
{% endfor %}
